# OPTIMISATION 1: increase number of layers.

## Preprocessing

In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
appSeries = application_df['APPLICATION_TYPE'].value_counts()

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_cutoff = 500

application_types_to_replace = []

for item in appSeries.index:
    if appSeries[item]<app_cutoff:
        application_types_to_replace.append(item)

In [6]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classSeries = application_df['CLASSIFICATION'].value_counts()
classSeries

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1

#find list of values to drop
for item in classSeries.index:
    if classSeries[item] == 1:
        application_df = application_df[application_df.CLASSIFICATION != item]
        classSeries = classSeries.drop(item)
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_cutoff = 100

classifications_to_replace= []

for item in classSeries.index:
    if classSeries[item]<class_cutoff:
        classifications_to_replace.append(item)
        
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256']

In [10]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      643
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`

# What are the data types in the df?
type_list = application_df.dtypes

In [12]:
# create a list of columns to convert
for item in type_list.index:
    if type_list[item] == 'int64':
        item
        type_list = type_list.drop(item)

In [13]:
application_df = pd.get_dummies(application_df, columns=type_list.index)

In [14]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL.values
X = application_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
input_dimensions=X.shape[1]
input_dimensions

49

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

nn_model.add(tf.keras.layers.Dense(units=8, activation="relu", input_dim=input_dimensions))

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 400

 dense_1 (Dense)             (None, 8)                 72

 dense_2 (Dense)             (None, 8)                 72

 dense_3 (Dense)             (None, 8)                 72

 dense_4 (Dense)             (None, 1)                 9

=================================================================
Total params: 625
Trainable params: 625
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6009 - accuracy: 0.6921
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5589 - accuracy: 0.7277
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5533 - accuracy: 0.7289
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5511 - accuracy: 0.7311
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5491 - accuracy: 0.7305
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7314
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7337
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7341
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7342
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7346
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7353
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7347
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7348
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7358
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7350
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7358
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7355
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7363
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7361
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7365
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7361
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7370
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7368
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7369
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7369
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7363
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7367
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7368
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7379
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7371
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7355
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7358
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7364
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7366
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7368
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7371
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7371
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7369
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7374
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7365
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7369
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7371
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7370
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7373
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7371
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7372
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7368
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7373
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7379
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7364
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7377
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7368
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7392
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7382
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7379
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7376
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7371
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7374
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7372
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7370
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7380
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7372
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7383
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7376
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7387
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7377
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7374
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7376
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7383
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7367
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7384
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7375
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7383
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7370
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7371
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7376
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7382
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7380
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7381
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7380
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7375
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7374
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7386
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7380
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7387
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7363
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7378
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7381
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7381
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7382
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7381
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7395
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7382
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7393
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7386
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7377
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7372
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7377
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7393
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7377

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5602 - accuracy: 0.7239 - 384ms/epoch - 1ms/step
Loss: 0.560231626033783, Accuracy: 0.7238884568214417

# The model is still only achieving 72.4% accuracy, short of the 75% target.

# Optimisation 2: increase number of neurons in layers.

## Compile, Train and Evaluate the Model

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

nn_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=input_dimensions))

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 16)                800

 dense_6 (Dense)             (None, 16)                272

 dense_7 (Dense)             (None, 16)                272

 dense_8 (Dense)             (None, 16)                272

 dense_9 (Dense)             (None, 1)                 17

=================================================================
Total params: 1,633
Trainable params: 1,633
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5813 - accuracy: 0.7117
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7305
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7332
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7330
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7355
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7348
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7358
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7365
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7376
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7380
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7375
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7365
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7370
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7370
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7377
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7370
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7373
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7383
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7387
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7373
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7374
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7394
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7379
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7378
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7377
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7392
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7391
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7391
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7395
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7393
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7396
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7388
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7394
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7405
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7390
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7386
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7403
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7397
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7403
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7394
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7383
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7402
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7398
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7404
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7405
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7401
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7407
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7407
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7400
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7401
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7409
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7402
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7401
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7405
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7405
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7412
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7403
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7401
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7402
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7400
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7408
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7405
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7410
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7407
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7413
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7414
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7411
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7400
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7405
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7404
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7412
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7413
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7412
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7414
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7412
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7408
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7415
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7428
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7412
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7425
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7416
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7409
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7410
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7410
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7411
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7421
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7415
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7409
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7422
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7425
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7410
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7426
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7413
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7426
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7421
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7418
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7417
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7407

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5667 - accuracy: 0.7233 - 325ms/epoch - 1ms/step
Loss: 0.5666735768318176, Accuracy: 0.7233049273490906

# The model is still only achieving 72.3% accuracy, short of the 75% target.

# Optimisation 3: adjusting neuron functions.

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

nn_model.add(tf.keras.layers.Dense(units=16, activation="tanh", input_dim=input_dimensions))

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="tanh"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="tanh"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="tanh"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 16)                800

 dense_11 (Dense)            (None, 16)                272

 dense_12 (Dense)            (None, 16)                272

 dense_13 (Dense)            (None, 16)                272

 dense_14 (Dense)            (None, 1)                 17

=================================================================
Total params: 1,633
Trainable params: 1,633
Non-trainable params: 0
_________________________________________________________________

In [26]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5801 - accuracy: 0.7069
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5550 - accuracy: 0.7284
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7322
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7314
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7330
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7336
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7348
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7344
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7354
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7340
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7348
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7349
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7356
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7355
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7370
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7367
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7374
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7369
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7360
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7370
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7363
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7362
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7386
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7377
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7383
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7377
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7372
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7384
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7376
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7374
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7383
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7387
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7393
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7392
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7391
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7393
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7379
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7396
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7388
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7390
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7393
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7409
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7396
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7398
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7392
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7395
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7398
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7391
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7401
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7385
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7395
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7400
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7401
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7405
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7405
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7408
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7403
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7407
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7409
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7399
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7402
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7404
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7409
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7406
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7409
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7410
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7407
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7399
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7418
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7411
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7402
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7411
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7409
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7412
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7409
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7420
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7416
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7412
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7412
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7423
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7420
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7406
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7406
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7415
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7414
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7412
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7417
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7416
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7421
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7412
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7421
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7428
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7423
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7420
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7417
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7416
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7423
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7422

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5625 - accuracy: 0.7217 - 334ms/epoch - 1ms/step
Loss: 0.5624932646751404, Accuracy: 0.7216711640357971

# The model is still only achieving 72.2% accuracy, short of the 75% target.

# Optimisation 4: re-processing data and Auto-tuning hyperparameters.

In [6]:

application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [8]:
# define a function to remove noisy data, due to repetitive coding

def noise_cleanup(d8aframe, col, cutoff):
    column_series = d8aframe[col].value_counts()
    
    for item in column_series.index:
        if column_series[item]<cutoff:
            print(f"{item} is going down!")
            column_series = column_series.drop(item)
            d8aframe = d8aframe[d8aframe[col] != item]
    print()
    print("data remaining:")
    print(d8aframe[col].value_counts())
    
    return d8aframe

In [9]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [10]:
# check each column to see how noisy it is, to make an informed decision on how much to simplify the data.

application_df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# drop anything less than 100
application_df = noise_cleanup(application_df, 'APPLICATION_TYPE', 100)

T13 is going down!
T12 is going down!
T2 is going down!
T25 is going down!
T14 is going down!
T29 is going down!
T15 is going down!
T17 is going down!

data remaining:
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
Name: APPLICATION_TYPE, dtype: int64

In [12]:
application_df.AFFILIATION.value_counts()

Independent         18364
CompanySponsored    15703
Family/Parent          64
National               32
Regional               12
Other                   4
Name: AFFILIATION, dtype: int64

In [13]:
# drop anything less than 100
application_df = noise_cleanup(application_df, 'AFFILIATION', 100)

Family/Parent is going down!
National is going down!
Regional is going down!
Other is going down!

data remaining:
Independent         18364
CompanySponsored    15703
Name: AFFILIATION, dtype: int64

In [14]:
application_df.CLASSIFICATION.value_counts()

C1000    17160
C2000     6034
C1200     4824
C3000     1917
C2100     1881
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [15]:
application_df = noise_cleanup(application_df, 'CLASSIFICATION', 100)

C2800 is going down!
C7100 is going down!
C1300 is going down!
C1280 is going down!
C1230 is going down!
C1400 is going down!
C7200 is going down!
C2300 is going down!
C1240 is going down!
C8000 is going down!
C7120 is going down!
C1500 is going down!
C1800 is going down!
C6000 is going down!
C1250 is going down!
C8200 is going down!
C1238 is going down!
C1278 is going down!
C1235 is going down!
C1237 is going down!
C7210 is going down!
C2400 is going down!
C1720 is going down!
C4100 is going down!
C1257 is going down!
C1600 is going down!
C1260 is going down!
C2710 is going down!
C0 is going down!
C3200 is going down!
C1234 is going down!
C1246 is going down!
C1267 is going down!
C1256 is going down!
C2190 is going down!
C4200 is going down!
C2600 is going down!
C5200 is going down!
C1370 is going down!
C1248 is going down!
C6100 is going down!
C1820 is going down!
C1900 is going down!
C1236 is going down!
C3700 is going down!
C2570 is going down!
C1580 is going down!
C1245 is going down!
C2500 is going down!
C1570 is going down!
C1283 is going down!
C2380 is going down!
C1732 is going down!
C1728 is going down!
C2170 is going down!
C4120 is going down!
C8210 is going down!
C2561 is going down!
C4500 is going down!
C2150 is going down!

data remaining:
C1000    17160
C2000     6034
C1200     4824
C3000     1917
C2100     1881
C7000      772
C1700      286
C4000      193
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [16]:
application_df.USE_CASE.value_counts()

Preservation     27330
ProductDev        5547
CommunityServ      379
Heathcare          142
Other                3
Name: USE_CASE, dtype: int64

In [17]:
application_df = noise_cleanup(application_df, 'USE_CASE', 100)

Other is going down!

data remaining:
Preservation     27330
ProductDev        5547
CommunityServ      379
Heathcare          142
Name: USE_CASE, dtype: int64

In [18]:
application_df.ORGANIZATION.value_counts()

Trust           22850
Association     10065
Co-operative      445
Corporation        38
Name: ORGANIZATION, dtype: int64

In [19]:
application_df = noise_cleanup(application_df, 'ORGANIZATION', 100)

Corporation is going down!

data remaining:
Trust           22850
Association     10065
Co-operative      445
Name: ORGANIZATION, dtype: int64

In [20]:
application_df.STATUS.value_counts()

1    33355
0        5
Name: STATUS, dtype: int64

In [21]:
application_df = noise_cleanup(application_df, 'STATUS', 100)

0 is going down!

data remaining:
1    33355
Name: STATUS, dtype: int64

### I will drop columns like STATUS from the dataframe as they are no longer variables and have no function.

In [22]:
application_df = application_df.drop(columns=["STATUS"])

In [23]:
application_df.SPECIAL_CONSIDERATIONS.value_counts()

N    33329
Y       26
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [24]:
# drop this column as there are not enough Y values to be significant.
application_df = application_df.drop(columns=["SPECIAL_CONSIDERATIONS"])

## Group ASK_AMT and INCOME_AMT into fewer bins to reduce noise

In [25]:
application_df.ASK_AMT.value_counts()

5000        24751
63981           3
15583           3
6725            3
10478           3
            ...
44686           1
55308           1
432239          1
37365916        1
36500179        1
Name: ASK_AMT, Length: 8461, dtype: int64

In [26]:
# have a look at the range of the data to help find useful bin ranges...
application_df.ASK_AMT.describe()

count    3.335500e+04
mean     2.652789e+06
std      8.742741e+07
min      5.000000e+03
25%      5.000000e+03
50%      5.000000e+03
75%      7.143500e+03
max      8.597806e+09
Name: ASK_AMT, dtype: float64

In [27]:
ask_cutoff = 100000

ask_Series = application_df['ASK_AMT'].value_counts()
ask_Series

5000        24751
63981           3
15583           3
6725            3
10478           3
            ...
44686           1
55308           1
432239          1
37365916        1
36500179        1
Name: ASK_AMT, Length: 8461, dtype: int64

In [28]:
ask_Series = ask_Series.drop(5000)
ask_Series

63981       3
15583       3
6725        3
10478       3
5706        2
           ..
44686       1
55308       1
432239      1
37365916    1
36500179    1
Name: ASK_AMT, Length: 8460, dtype: int64

In [29]:
ask_low = []
ask_high = []

for item in ask_Series.index:
    if item < ask_cutoff:
        ask_low.append(item)
    else:
        ask_high.append(item)

In [30]:
ask_low

[63981,
 15583,
 6725,
 10478,
 5706,
 14000,
 8632,
 6398,
 67367,
 12584,
 9537,
 7686,
 43814,
 5130,
 86039,
 39168,
 18063,
 5297,
 61397,
 27944,
 16200,
 27159,
 13898,
 17614,
 22579,
 7187,
 42072,
 5731,
 13420,
 6742,
 39122,
 80599,
 5179,
 17010,
 31549,
 59647,
 24459,
 83827,
 14765,
 13499,
 18985,
 34995,
 90834,
 5470,
 13831,
 50890,
 54024,
 36683,
 18826,
 73627,
 9323,
 32507,
 46327,
 21264,
 21389,
 10070,
 31453,
 34875,
 20834,
 30769,
 73987,
 40743,
 32807,
 20537,
 5255,
 57588,
 19704,
 40429,
 21346,
 16435,
 7003,
 6279,
 47129,
 83211,
 16482,
 6010,
 20071,
 9413,
 29541,
 45793,
 23202,
 26432,
 11839,
 5170,
 27441,
 42178,
 6035,
 35734,
 5175,
 13681,
 20150,
 27073,
 32141,
 16071,
 63520,
 6920,
 80168,
 60000,
 9255,
 34792,
 64093,
 8746,
 6960,
 5006,
 6405,
 94253,
 56135,
 24746,
 41894,
 5894,
 7049,
 17735,
 37390,
 22472,
 15372,
 6000,
 37489,
 57689,
 9885,
 12238,
 25952,
 12753,
 57957,
 34538,
 20684,
 15039,
 8181,
 21068,
 66909,
 83151,
 22110,
 33202,
 9346,
 39309,
 22215,
 34149,
 42008,
 44840,
 18243,
 48090,
 22107,
 54535,
 5618,
 78183,
 53769,
 58662,
 60596,
 15722,
 44597,
 48828,
 50966,
 69119,
 57795,
 69615,
 59330,
 28166,
 33825,
 21709,
 92850,
 93276,
 17976,
 34024,
 54987,
 89896,
 79384,
 75269,
 84705,
 50078,
 23630,
 64435,
 58741,
 87429,
 89451,
 81618,
 12361,
 38140,
 29421,
 75311,
 13288,
 75817,
 83431,
 6259,
 21086,
 34710,
 47711,
 41293,
 29914,
 42209,
 35629,
 64105,
 20000,
 28413,
 40622,
 95075,
 14349,
 45948,
 27589,
 14962,
 29852,
 12270,
 43405,
 93528,
 7682,
 10680,
 30217,
 95389,
 5477,
 64960,
 50092,
 18072,
 81555,
 18975,
 83729,
 51334,
 96221,
 68131,
 45415,
 85193,
 82583,
 42279,
 27352,
 27289,
 45353,
 69825,
 32049,
 5983,
 38569,
 11025,
 9141,
 33131,
 19793,
 67897,
 18259,
 49679,
 47845,
 41858,
 89416,
 35184,
 35904,
 14539,
 12800,
 22143,
 98147,
 52619,
 20295,
 11609,
 23149,
 44075,
 5478,
 55392,
 90631,
 42663,
 29701,
 16648,
 18343,
 59426,
 51656,
 12285,
 55849,
 8329,
 45446,
 92799,
 20321,
 11655,
 55940,
 35357,
 11287,
 67009,
 38234,
 91449,
 54404,
 51060,
 47976,
 39229,
 26064,
 24125,
 15759,
 5890,
 8354,
 13851,
 32089,
 48474,
 58381,
 48904,
 42793,
 46303,
 98855,
 59078,
 83441,
 55850,
 22126,
 29046,
 20681,
 24101,
 20074,
 23796,
 76548,
 70103,
 80393,
 30538,
 24873,
 23453,
 22000,
 5762,
 55294,
 17448,
 42200,
 84691,
 30303,
 14632,
 34399,
 62528,
 83531,
 13070,
 15919,
 9591,
 29512,
 42355,
 62913,
 95380,
 31359,
 8294,
 43380,
 29270,
 56692,
 72264,
 81558,
 5487,
 98582,
 14508,
 30977,
 39407,
 39815,
 22504,
 73295,
 22680,
 5228,
 99218,
 43976,
 54356,
 34280,
 62424,
 82970,
 49937,
 67873,
 59277,
 85537,
 40919,
 22540,
 37834,
 43340,
 78038,
 24289,
 40735,
 20385,
 30799,
 48753,
 25950,
 74350,
 16307,
 19810,
 68055,
 89991,
 43500,
 88289,
 20428,
 85064,
 11457,
 42546,
 11084,
 50963,
 71963,
 18045,
 40090,
 43663,
 15964,
 13334,
 48366,
 92191,
 18900,
 24685,
 84393,
 12341,
 11209,
 29740,
 86013,
 25361,
 95428,
 34838,
 22822,
 80038,
 12673,
 9842,
 53009,
 87422,
 45667,
 45035,
 58707,
 51761,
 85457,
 21884,
 6139,
 20104,
 24055,
 8221,
 32776,
 53898,
 81276,
 96751,
 47609,
 96160,
 31879,
 6941,
 45137,
 48142,
 29130,
 27097,
 16223,
 20140,
 20113,
 86041,
 36165,
 27613,
 15840,
 59207,
 47126,
 79416,
 69470,
 73683,
 91382,
 90139,
 16033,
 21202,
 20625,
 77577,
 40187,
 99821,
 88648,
 28590,
 22364,
 98076,
 66042,
 84958,
 97250,
 32464,
 49822,
 85244,
 41863,
 85436,
 87558,
 27355,
 19274,
 39030,
 44115,
 14270,
 71322,
 18362,
 21614,
 89204,
 85425,
 13422,
 18389,
 97335,
 80348,
 88131,
 8885,
 86348,
 28542,
 25993,
 16069,
 39749,
 87294,
 27953,
 83830,
 6024,
 20084,
 16219,
 62384,
 26039,
 73393,
 59711,
 16377,
 41669,
 23057,
 77520,
 46802,
 6435,
 91247,
 78248,
 34686,
 27488,
 23702,
 74843,
 96715,
 66833,
 32546,
 54036,
 10542,
 74526,
 6401,
 42962,
 7415,
 79333,
 19626,
 91429,
 75895,
 25728,
 31651,
 81736,
 15151,
 89059,
 36120,
 45744,
 26886,
 9299,
 9685,
 68837,
 45302,
 65087,
 98972,
 17445,
 72614,
 83371,
 91725,
 22948,
 46473,
 5769,
 45607,
 22634,
 53268,
 9534,
 85289,
 29732,
 31754,
 64464,
 30653,
 21518,
 64373,
 40073,
 96064,
 7384,
 24509,
 45457,
 83941,
 39625,
 32029,
 47125,
 39012,
 17947,
 75308,
 48762,
 34591,
 17618,
 19646,
 33743,
 87968,
 89199,
 19884,
 9764,
 74158,
 73193,
 76254,
 70149,
 76201,
 6200,
 9844,
 46790,
 11435,
 12173,
 83581,
 45756,
 47746,
 94692,
 77743,
 44136,
 21826,
 40895,
 32522,
 27216,
 42195,
 16560,
 79425,
 94926,
 15361,
 69443,
 77600,
 30451,
 82766,
 75872,
 55522,
 18520,
 61101,
 91913,
 23313,
 68993,
 7476,
 31183,
 86066,
 72641,
 79849,
 7551,
 6371,
 81480,
 26618,
 31426,
 56854,
 67436,
 94470,
 73900,
 38618,
 24819,
 13932,
 22728,
 23030,
 76224,
 6286,
 77516,
 21337,
 7584,
 5643,
 65380,
 94984,
 73527,
 88508,
 27882,
 9550,
 41494,
 43086,
 57522,
 26615,
 29381,
 17639,
 21748,
 55690,
 98487,
 10297,
 12654,
 10966,
 16060,
 95912,
 5366,
 6335,
 37905,
 6100,
 13844,
 23069,
 31241,
 7143,
 6727,
 17018,
 23906,
 5928,
 44279,
 14194,
 40039,
 17500,
 80108,
 12666,
 29202,
 10367,
 30280,
 14394,
 10753,
 5632,
 49566,
 7953,
 14775,
 17361,
 15250,
 21440,
 25676,
 42264,
 35408,
 85103,
 58137,
 13262,
 42768,
 19583,
 39021,
 19585,
 48186,
 50274,
 48537,
 74208,
 40720,
 51827,
 66681,
 14340,
 38189,
 21031,
 36956,
 17464,
 50942,
 6987,
 18117,
 47348,
 51618,
 20377,
 14789,
 10981,
 5480,
 28274,
 15805,
 30523,
 51052,
 87120,
 54242,
 33165,
 21128,
 61839,
 84165,
 64946,
 80562,
 65466,
 83658,
 81202,
 35213,
 9191,
 61758,
 24224,
 40979,
 24249,
 50012,
 85411,
 26030,
 25629,
 23949,
 17282,
 18854,
 22904,
 23433,
 31349,
 52777,
 71520,
 44776,
 37060,
 7793,
 38968,
 39484,
 27677,
 46464,
 34119,
 32015,
 31337,
 99859,
 74483,
 43601,
 27267,
 17116,
 66231,
 6706,
 58300,
 85469,
 41557,
 14009,
 20456,
 51037,
 17917,
 46058,
 9077,
 25391,
 11899,
 62947,
 81260,
 45254,
 81742,
 7502,
 52602,
 24682,
 36270,
 12622,
 91173,
 65444,
 88781,
 27891,
 57967,
 57298,
 32179,
 53762,
 69394,
 11015,
 71558,
 12251,
 80625,
 8573,
 5114,
 79185,
 16678,
 14925,
 43660,
 44057,
 83910,
 76147,
 88203,
 36297,
 71125,
 79211,
 32890,
 76127,
 62814,
 52201,
 56453,
 32574,
 40670,
 59830,
 38098,
 95976,
 36985,
 46610,
 72512,
 35079,
 86217,
 46911,
 42557,
 12953,
 24273,
 8519,
 6072,
 64378,
 17288,
 24411,
 45880,
 67844,
 68497,
 32499,
 11841,
 43105,
 13063,
 48736,
 9781,
 68496,
 27395,
 45863,
 32148,
 92492,
 84071,
 72491,
 90271,
 53287,
 45990,
 21200,
 56459,
 17566,
 8748,
 24291,
 49804,
 9365,
 17264,
 87071,
 56559,
 59324,
 57733,
 23000,
 17162,
 42811,
 18150,
 18514,
 44761,
 18768,
 71660,
 95116,
 52809,
 25904,
 19621,
 17635,
 81691,
 74051,
 49891,
 6029,
 5778,
 64700,
 95903,
 22363,
 65609,
 53248,
 99601,
 46481,
 28090,
 30141,
 42905,
 23955,
 96158,
 7946,
 42439,
 35316,
 80497,
 46356,
 13880,
 28562,
 20420,
 5856,
 33615,
 22598,
 51067,
 82846,
 6231,
 64471,
 19581,
 33786,
 14347,
 20844,
 80592,
 8270,
 24860,
 13495,
 42497,
 71172,
 33105,
 54411,
 63576,
 67414,
 58678,
 13119,
 60355,
 61655,
 55146,
 5665,
 78583,
 5482,
 60982,
 58799,
 7842,
 26654,
 17683,
 72504,
 19821,
 21962,
 14946,
 59646,
 45289,
 96475,
 29611,
 12686,
 26091,
 5218,
 16340,
 52372,
 96520,
 34031,
 15344,
 37663,
 35492,
 64998,
 59255,
 6008,
 58123,
 97503,
 11829,
 46278,
 15830,
 62298,
 85813,
 42657,
 35631,
 60149,
 54258,
 16981,
 8054,
 88161,
 49866,
 92545,
 36680,
 47242,
 30186,
 13189,
 10277,
 6334,
 51160,
 91797,
 5147,
 77237,
 9799,
 15525,
 53241,
 80326,
 14652,
 74006,
 53639,
 43281,
 67933,
 6238,
 26306,
 36755,
 58781,
 63324,
 16149,
 26312,
 94036,
 8945,
 50583,
 42363,
 48508,
 5810,
 18969,
 30092,
 30376,
 46423,
 49379,
 78195,
 52257,
 ...]

In [31]:
ask_high

[184668,
 136341,
 240780,
 195661,
 238933,
 146824,
 246851,
 201112,
 150599,
 206725,
 100000,
 159223,
 210432,
 10069081,
 133556,
 7903843,
 11002681,
 1477563,
 216783,
 524569,
 141851,
 203256,
 119499,
 912811,
 393444,
 164860,
 164874,
 247827,
 161531,
 438018,
 130381,
 245637,
 802010,
 210098,
 24766071,
 94492274,
 180152,
 3189005,
 580496,
 1052902,
 45165663,
 220526,
 950074,
 15259643,
 297301,
 107588,
 177811,
 1199736,
 440617,
 1586920,
 4510717,
 173209,
 2811429,
 1519567,
 2731896,
 127793,
 1124121,
 237483,
 120304,
 2192625,
 9721128,
 2168130,
 107944,
 512014,
 111480,
 6201027,
 985895,
 287765,
 131391,
 1189341,
 1112173,
 1018486,
 7429956,
 586682,
 6074233,
 690720,
 105721,
 689619,
 10395185,
 106141,
 615128,
 693028,
 283821,
 2766059,
 455438,
 1407719,
 590133,
 109088,
 282870,
 922986,
 135185,
 112883,
 2731369,
 291470,
 568256,
 1150846,
 20606812,
 306415,
 143601,
 147193,
 338547,
 132892,
 1204846,
 512542,
 7992807,
 1687740,
 122633,
 440611,
 690648,
 203914,
 142582,
 182185,
 1398983,
 25719489,
 768386,
 39818201,
 1610622,
 197344,
 1257590,
 264996,
 849904,
 1164016,
 2106638,
 466838,
 2479053,
 384167,
 226714,
 139777,
 1560447,
 212684,
 108523,
 341663,
 179088,
 5709331,
 656025,
 174367,
 29857392,
 142461,
 523504,
 286546,
 1343044,
 6898835,
 15304536,
 14992615,
 355705,
 247857,
 239641,
 365345,
 979766,
 3739060,
 140757,
 218919,
 1708953,
 643600,
 1901496,
 143071719,
 109286,
 106748,
 7581138,
 2466721,
 5421157,
 1924565,
 120077,
 183916,
 1399199,
 222824,
 125641,
 253030505,
 13860302,
 2119667,
 1880763,
 57873839,
 4430128,
 119410,
 232067,
 113080,
 278420,
 317824,
 2129057,
 192141,
 434256,
 162125,
 1586448,
 1043986,
 214865,
 3050446,
 240053,
 219501,
 443411,
 8397396,
 2514747,
 7636103,
 161522,
 461143,
 161031,
 259386,
 132476,
 126835,
 350809,
 253010,
 129184,
 227055,
 990776,
 280798,
 42110594,
 1008584,
 104464,
 189108,
 110212,
 566452,
 172467,
 1425868,
 330579,
 148858,
 158320985,
 461176,
 342585,
 459488,
 11465520,
 72493545,
 328058,
 195466,
 7491429,
 301869,
 328902,
 356003,
 910629836,
 29305584,
 109679,
 6989753,
 237593,
 232453307,
 286849,
 11709479,
 1144177,
 2960037,
 4366257,
 1539295,
 1099632,
 2914580,
 294947,
 961719,
 936937,
 41444109,
 113557,
 162606,
 169398,
 146037,
 220940,
 132859,
 311424,
 184416,
 249315,
 977037,
 1208559,
 177028,
 2236717,
 558764,
 320280,
 482630,
 12235279,
 118302,
 119372,
 27260379,
 348628,
 113499,
 2881515,
 27516801,
 107364,
 137256,
 101930,
 319416,
 1256493,
 5938920,
 3286704,
 1864428,
 1140462,
 1069605,
 223945,
 1837414,
 636893,
 7965893,
 772556,
 873782,
 782480,
 616998,
 154824,
 1046415,
 649136,
 971080,
 325425,
 110988,
 1436586,
 222743,
 103232,
 1357207,
 1920952,
 200923,
 2285647,
 5483389,
 100955,
 103940,
 137625426,
 256768,
 530777,
 228714,
 488837,
 198157,
 118786,
 1713384,
 803491,
 582779,
 169584,
 148509,
 1182689,
 239690919,
 167266,
 746166,
 260981,
 194731,
 2018799,
 176034,
 167244,
 149353,
 2594355,
 429862,
 829474,
 3140072,
 324248,
 1382280715,
 535121,
 31103347,
 378909,
 1540263,
 2120337,
 744939,
 4681154,
 177139,
 6249193,
 1485967,
 85640684,
 411677,
 633380,
 1090186,
 2626011,
 15553300,
 487148,
 4933535,
 126612,
 54684478,
 798417,
 2803638,
 1783670,
 4548010,
 3615031,
 191200,
 9274771,
 268551,
 613835,
 521982,
 2323303,
 182135,
 1653666,
 861578,
 2185063,
 154287,
 8708352,
 993707,
 1207712,
 2899849,
 1311379,
 988114720,
 109239,
 48701411,
 244684,
 2173775,
 311037,
 287170,
 412433,
 315658,
 249147200,
 240237,
 390077,
 23527341,
 252068,
 3289370,
 155494,
 5964183,
 105545,
 279792,
 1562442,
 8859599,
 819366,
 277300,
 1464475,
 558496,
 6820384,
 358652,
 158847,
 121166,
 216178,
 182160,
 322714,
 2583546,
 121496,
 243167,
 209473,
 966940,
 885182,
 4272612,
 562796,
 1543430,
 1297173,
 251102,
 264457,
 149826477,
 755852,
 1328994,
 659040,
 270738,
 168382,
 4009666,
 102605,
 5258406,
 377546,
 7370592,
 819921,
 145756,
 349900,
 1509995,
 2935925,
 752519,
 9638176,
 2159879,
 1149439,
 139811,
 352178,
 1920035,
 138279,
 141861,
 860312990,
 2083587,
 488633,
 6260072,
 527153,
 1440437,
 6070530,
 981069,
 316850,
 3305368,
 798959,
 1136115,
 220065,
 160039,
 626251,
 724524848,
 223012,
 2310256039,
 455704,
 10538837,
 5800355,
 162596,
 1633853,
 420329,
 191412,
 477042,
 251267,
 160664,
 287461,
 394628,
 136658,
 1065867,
 2030327,
 1168430,
 4629365,
 2312243,
 7280380,
 599121,
 2823047,
 5200045,
 4284383,
 600883,
 4031291,
 2119497,
 19891310,
 129781,
 1671071,
 5096232,
 178605,
 652475,
 9401154,
 197205,
 93132501,
 3637949,
 123583,
 205703690,
 1186492,
 270271572,
 923741684,
 27688066,
 1391441555,
 4653011914,
 200465,
 3006230,
 5144674,
 1952403,
 1950777,
 1624652,
 163297,
 1239730,
 315816,
 439591,
 181437,
 128059,
 5571593,
 172851,
 108371,
 330428,
 253102,
 1573496,
 166286,
 2435249,
 600183,
 7509748,
 220911,
 126626,
 120634,
 175260,
 5332790,
 486537,
 2440332,
 5806928,
 55117795,
 154502,
 340753,
 1932868,
 228508,
 177635,
 243309,
 115368,
 1480029,
 473430,
 164782,
 11929381,
 313455,
 133783,
 13011940,
 163068,
 1664174,
 865982,
 6084562,
 304017,
 258037,
 588922,
 250095,
 899000,
 288230,
 1048023,
 39796625,
 9163014,
 354953,
 14721076,
 1626852,
 3519102,
 910740,
 159144,
 184350,
 334370,
 1095854,
 516931,
 1742249,
 3625846,
 13750986,
 606084,
 2073711,
 567727,
 5019114,
 211851,
 2276657,
 6071306,
 1240863,
 10975383,
 550238,
 4633676,
 273706,
 10055987,
 14096175,
 135781,
 5133445,
 636897,
 1105479,
 144443,
 1748956,
 255092,
 232371,
 100471,
 6987462,
 1268469,
 255331,
 1695645,
 4398339,
 3880619,
 64786045,
 1586408,
 480240,
 813510,
 151838,
 2296133,
 6986847,
 35190534,
 349251,
 232169,
 603193,
 61801356,
 260310,
 243327,
 798646,
 5293118,
 2899332,
 125481,
 4578405,
 1382675,
 181579,
 570745,
 1005878,
 550887,
 436528,
 193741,
 117502,
 10235057,
 275627,
 323096,
 63757962,
 218832,
 34159222,
 120114,
 355837,
 706986242,
 3881559,
 41681866,
 294633,
 558248,
 5709728,
 1829435,
 96346259,
 2948244,
 806737,
 219333,
 358068639,
 22828932,
 12764506,
 325509144,
 75453956,
 129540,
 129091,
 2319965,
 268794,
 28299984,
 172442,
 198026,
 150012,
 307916,
 294263,
 2014887,
 474072,
 230894,
 121801,
 1954219,
 299814,
 9419382,
 728533,
 5157995,
 887401,
 406764,
 345000,
 399022,
 2190623,
 325085,
 513645,
 1093824,
 1941754,
 416997,
 841902,
 225431,
 2722313,
 2960779,
 185053,
 388245,
 828506,
 3209786,
 1343548,
 116862,
 69092223,
 413409,
 3447144,
 39122940,
 4745197,
 459003,
 580020,
 2983733,
 19532385,
 171472,
 762535,
 8535202,
 774394,
 1268196,
 3013827,
 585033,
 2204296,
 3344973,
 1627142,
 13808947,
 13034013,
 4052615,
 143005,
 106711,
 885575014,
 1572608,
 168101,
 4824632,
 722639,
 393984,
 1063615,
 1068119241,
 44505554,
 285621,
 119797,
 104999,
 133518,
 41701957,
 2693627,
 275780,
 358587,
 950380,
 306329,
 123106,
 828988,
 16343885,
 1725407,
 4973400,
 51502805,
 241189,
 1700794,
 6543463,
 222877,
 6872423,
 659242,
 720521,
 442262,
 273203,
 16471775,
 1068164,
 196776,
 6504306,
 3926988,
 1087554,
 11802587,
 5931419,
 18959555,
 248052,
 684978,
 3266620,
 1028181,
 66738237,
 3387121,
 965913,
 4650033,
 997073,
 908562,
 1430521,
 1576420,
 224351,
 364027,
 2097921,
 346677,
 880499,
 128174,
 1054015,
 4929086,
 335085,
 11121098,
 240742,
 715080,
 205528,
 117828,
 6106188,
 415726,
 1700081,
 914489,
 657528,
 129734,
 5315321,
 760995,
 701801,
 114398,
 460291,
 511168,
 576601,
 819474,
 2217210,
 134421,
 2099030,
 484300,
 164405,
 204308,
 3084129,
 106351,
 1585850,
 7481760,
 3224085,
 2081825,
 170161,
 379221,
 141887,
 888279151,
 4501253,
 439650,
 564899,
 200608,
 69494994,
 1038771,
 2076369,
 1637803,
 117592,
 124332,
 340940,
 666704,
 823417,
 1119058,
 703068,
 766819,
 126117,
 844811,
 773929,
 496484,
 757210,
 560712,
 670764,
 169575,
 195888,
 114908,
 767009,
 262935,
 1195845,
 135010,
 173084,
 2777658,
 2888182,
 203921,
 108434,
 103672,
 384873,
 598354,
 386446,
 308276,
 687800,
 10279102,
 225839,
 608223,
 205469,
 266679,
 721659,
 1839936,
 137132,
 213993,
 366044,
 100248,
 107647,
 1509729,
 146305,
 136001,
 144729,
 226559,
 116338,
 119158,
 426724,
 226222,
 497544,
 64810644,
 147103,
 16333739,
 117622,
 140674,
 422771,
 220564,
 197666,
 136612,
 744067,
 262932,
 215696,
 236273,
 147583,
 2060533,
 477792,
 218928,
 150957,
 104207,
 19352225,
 512281,
 266972,
 107374,
 147646,
 242210,
 130860,
 7082981,
 162255,
 205905,
 123030,
 385702,
 344225,
 217104,
 255338,
 127778,
 167954,
 707963,
 167848,
 888836,
 368348,
 1708513,
 6745010,
 1283754,
 730405,
 1813135,
 108382,
 374729,
 331515,
 240381,
 242244,
 1539568,
 1196357,
 6995420,
 281275,
 441332,
 100386,
 247388698,
 675822,
 451785,
 1511056,
 897263,
 250834,
 11634925,
 4939326,
 1688759,
 147112,
 503408,
 125424,
 682182,
 2490638,
 2483828,
 20855709,
 30655402,
 144037,
 146522,
 3842087,
 13704001,
 1012001,
 161249,
 945676,
 3351728,
 372063,
 210493,
 772826,
 626006,
 363361,
 723677,
 179906,
 313069,
 339137,
 1178275,
 496849,
 171295,
 1870635,
 334877,
 518487,
 2555381,
 1328045,
 398556,
 2557153,
 165506,
 319464,
 164706,
 246679,
 465084,
 5395074,
 105187,
 914738,
 330339,
 491059,
 1832608,
 169417,
 602969,
 105873,
 1582564,
 361038,
 174263,
 441250,
 170492,
 41604731,
 1279995,
 495935,
 ...]

In [32]:
# Replace in dataframe
for ask in ask_low:
    application_df['ASK_AMT'] = application_df['ASK_AMT'].replace(ask,"5,000 - 100,000")
    
for ask in ask_high:
    application_df['ASK_AMT'] = application_df['ASK_AMT'].replace(ask,"greater than 100,000")

# Check to make sure binning was successful
application_df['ASK_AMT'].value_counts()

5000                    24751
greater than 100,000     4351
5,000 - 100,000          4253
Name: ASK_AMT, dtype: int64

In [33]:
application_df.INCOME_AMT.value_counts()

0                23770
25000-99999       3652
100000-499999     3260
1M-5M              918
1-9999             696
10000-24999        523
10M-50M            235
5M-10M             175
50M+               126
Name: INCOME_AMT, dtype: int64

In [34]:
# will have to hand code this due to text-based categories

income_low = ["1-9999", "10000-24999", "25000-99999", "25000-99999", "100000-499999"]
income_high = ["1M-5M", "5M-10M", "10M-50M", "50M+"]

In [35]:
# Replace in dataframe
for income in income_low:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(income,"1-1,000,000")
    
for income in income_high:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(income,"greater than 1,000,000")

# Check to make sure binning was successful
application_df['INCOME_AMT'].value_counts()

0                         23770
1-1,000,000                8131
greater than 1,000,000     1454
Name: INCOME_AMT, dtype: int64

In [36]:
# Convert categorical data to numeric with `pd.get_dummies`

# What are the data types in the df?
type_list = application_df.dtypes
type_list

APPLICATION_TYPE    object
AFFILIATION         object
CLASSIFICATION      object
USE_CASE            object
ORGANIZATION        object
INCOME_AMT          object
ASK_AMT             object
IS_SUCCESSFUL        int64
dtype: object

In [37]:
# create a list of columns to convert
for item in type_list.index:
    if type_list[item] == 'int64':
        item
        type_list = type_list.drop(item)

In [38]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,"1-1,000,000","greater than 100,000",1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,"1-1,000,000","5,000 - 100,000",1
4,T3,Independent,C1000,Heathcare,Trust,"1-1,000,000","greater than 100,000",1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,"greater than 1,000,000","greater than 100,000",0

In [39]:
application_df = pd.get_dummies(application_df, columns=type_list.index)
application_df

,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,APPLICATION_TYPE_T9,...,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Trust,INCOME_AMT_0,"INCOME_AMT_1-1,000,000","INCOME_AMT_greater than 1,000,000",ASK_AMT_5000,"ASK_AMT_5,000 - 100,000","ASK_AMT_greater than 100,000"
0,1,1,0,0,0,0,0,0,0,0,...,1,1,0,0,1,0,0,1,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
2,0,0,0,0,0,1,0,0,0,0,...,1,1,0,0,1,0,0,1,0,0
3,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0,0,0,0,1,0,0,0,0,0,...,1,1,0,0,1,0,0,1,0,0
34295,0,0,0,0,1,0,0,0,0,0,...,1,1,0,0,1,0,0,1,0,0
34296,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
34297,1,0,0,0,0,1,0,0,0,0,...,1,1,0,0,1,0,0,1,0,0
34298,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1

In [40]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL.values
X = application_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [41]:
input_dimensions=X.shape[1]
input_dimensions

35

In [42]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [43]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=80,
        step=5), activation=activation, input_dim=input_dimensions))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=100,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [45]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    overwrite=True,
    max_epochs=20,
    hyperband_iterations=2,)

In [46]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 29s]
val_accuracy: 0.7251468896865845

Best val_accuracy So Far: 0.7261062264442444
Total elapsed time: 00h 11m 12s
INFO:tensorflow:Oracle triggered exit

In [ ]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

In [ ]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
best_model.save('AlphabetSoupCharity_Optimization.h5')

## Despite an extensive search, I have not managed higher than 72.6% accuracy.